<spacer size="25"></spacer>
<row>
    <p style="color: #9b9b9b; font-size: 12px">This message was sent to you by Well-Managed World C.I.C., the operator of <a href="https://altruisto.com">Altruisto</a>.</p>
</row>
