{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
{% apply inky_to_html|inline_css(source('styles.css')) %}
    {% include 'emails/_email_header.html.twig' %}
    <container>
        <spacer size="16"></spacer>
        <row>
            <columns>
                <row>
                    <h3>Password Reset Request</h3>
                </row>
                <row>
                    <p>Need to reset your altruisto password? Just click below to get started.</p>
                    <p>If you didn't request this password reset, please ignore this message.</p>
                </row>
                <spacer size="25"></spacer>
                <row>
                    <center>
                        <a href="https://altruisto.com/reset-password/{{ reset_password_token }}" class="email-button">Reset password</a>
                    </center>
                </row>
                <spacer size="25"></spacer>
                {% include 'emails/_email_legal.html.twig' %}
            </columns>
        </row>
    </container>
{% endapply %}
{% endapply %}
