.email-button {
  width: 200px;
  height: 56px;
  border-radius: 6px;
  background: linear-gradient(136deg, #e70f74, #ff2525);
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center
}

a {
  color: #f50057;
}
