<h3>Reset hasła</h3>
<br><br>
Aby zresetować hasło kliknij w poniższy link:
<br><br>
<a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('reset_user_password_patch', {'token': token }) }}">{{ app.request.getSchemeAndHttpHost() }}{{ path('reset_user_password_patch', {'token': token }) }}</a>
